@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root {
    /* Define color scheme based on the design */
    --sidebar-bg-color: #47815d;
    --sidebar-text-color: #0f0f0f;
    --sidebar-active-color: #8cfe99;
    --content-bg-color: #F3F4F6;
    --content-active-color: #8cfe99;
    --transparent-active-color: #8cfe997b;
    --dark-text-color: #333333;
    --background-color: #fff;

    /* Spacing for consistent layout */
    --primary-spacing: 1.25rem; /* Equivalent to 20px */
    --border-radius: 0.3rem; /* Equivalent to 8px for rounded corners */

    /* Sizing for elements */
    --sidebar-width: 300px; /* Width of the sidebar */
    --header-height: 70px; /* Height of the header */
    
    /* Font sizing */
    --font-size-regular: 1rem; /* Base font size for regular text */
    --font-size-large: 1.125rem; /* Larger font size for headings */
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
    /* Dark mode color adjustments */
    :root {
        --sidebar-bg-color: #28433d;
        --sidebar-text-color: #E1E1E1;
        --sidebar-active-color: #357060;
        --content-bg-color: #202020;
        --content-active-color: #357060; 
        --transparent-active-color: #35706086 ;
        --dark-text-color: #FFFFFF;
        --background-color: #333333;
    }

    .card, .chart, .weather2, .data {
        background-color: #333 !important;
    }
}

body {
    margin: 0;
    font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--content-bg-color);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.main_div {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* Sidebar Styles */
.sidebar {
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
    width: var(--sidebar-width);
    height: calc(100vh - var(--primary-spacing) * 2);
    padding: var(--primary-spacing);
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    z-index: 1000;
}

/* Hamburger Menu - hidden by default, will be shown on mobile */
#sidebarToggle {
    display: none; /* Hidden in larger screens, shown in media query for mobile view */
}
.hamburger-menu{
    display: none;
    transition: all 0.5s ease-in-out;
}

/* Logo Styles */
.logo {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: var(--primary-spacing);
}

.logo img {
    width: 6.25rem; /* 100px */
}

/* Navigation Styles */
.navigation {
    margin-top: var(--primary-spacing);
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.navigation .nav-list {
    position: relative;
    left: -20px;
    list-style-type: none;
    margin-top: var(--primary-spacing);
}

.navigation .nav-item a {
    text-decoration: none;
    color: var(--sidebar-text-color);
    display: block;
    padding: var(--primary-spacing) 1rem;
}

.navigation .nav-item.active a {
    background-color: var(--sidebar-active-color);
    border-radius: var(--border-radius);
    font-weight: 700;
}

/* Logout Link Styles */
.logout a {
    padding: var(--primary-spacing) 1rem;
    text-decoration: none;
    color: var(--sidebar-text-color);
    position: absolute;
    bottom: var(--primary-spacing);
    left: calc(var(--primary-spacing) * 2);
}

#container {
    width: 85%;
    aspect-ratio: 16/9;
    border-radius: var(--border-radius);
    background-image: url('1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    margin-left: calc(var(--primary-spacing) * 1.2);
  }

  
  #text-area {
    position: relative;
    z-index: 1; /* Ensure the text appears above the pseudo-element */
    color: var(--dark-text-color);
    border-radius: var(--border-radius);
    aspect-ratio: 16/9;
    padding: var(--primary-spacing);
    display: inline-block; /* Wrap background tightly around the text */
    background-color: var(--transparent-active-color);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);  
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
  }
  
  #text-area p {
    margin-left: 0.4rem !important;
    margin-right: 0.4rem !important;
  }
  
  .New_card_header{
    font-weight: 600;
    font-size: 1.2em;
  }
  
  #dynamic-text {
    
    animation: fadeIn 1s; 
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeBackground {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .fade-in-text {
    animation: fadeIn 1s ease-in-out;
  }
  
  .fade-in-background {
    opacity: 0; /* Start with an invisible background */
    animation: fadeBackground 2s ease-in-out forwards; /* "forwards" will persist the end state of the animation */
  }

/* Main Container Styles */
.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--primary-spacing);
    background-color: var(--content-bg-color);
    height: var(--header-height);
}

/* Dropdown Styles */
.company-name select {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--content-active-color); 
    border-radius: var(--border-radius);
    font-size: var(--font-size-regular);
    color: var(--dark-text-color);
    margin-right: var(--primary-spacing);
    -webkit-appearance: none;
    -moz-appearance: none;
}
.company-name2 {
   display: none;
}

/* Search Bar Styles */
.weather__search{
    width: 100%;
}
.search-bar {
    display: flex;
    width: max-content;
    align-items: center; /* Center vertically */
}

.search-bar input[type="text"] {
    padding: 0.5rem 1rem;
    border-bottom: 2px solid var(--sidebar-text-color);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: var(--content-bg-color);
    font-size: var(--font-size-regular);
    width: 100%;
    margin-right: var(--primary-spacing);
}
.search-bar input[type="text"] :focus{
    outline: none;
    border: none !important;
    filter: contrast(200%) brightness(150%);
    
}
.search-bar input[type="text"]::placeholder {
    color: var(--sidebar-text-color);
}

/* Style the magnifying glass icon */
.search-bar i {
    color: var(--dark-text-color); /* Icon color */
    margin-right: 10px; /* Adjust the spacing between the icon and the input */
    position: relative;
    top: -28px;
    left: -10px;
    
}

/* Profile Info Styles */
.profile-info {
    display: flex;
    align-items: center;
    gap: 12px; /* Space between elements */
}

.profile-pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.profile-name {
    font-size: var(--font-size-large);
    color: var(--dark-text-color);
    font-weight: bold;
}

/* Content Area Styles */
.header-title{
    font-size: var(--font-size-large);
    color: var(--dark-text-color);
    font-weight: bold;
    margin-left: calc(var(--primary-spacing) / 5);
    margin-block-start: 0;
    margin-block-end: 0;

}
.content {
    display: flex;
    flex-direction: row;
}
.grid{
    display: flex;
    flex: 3;
    flex-direction: column;
    gap: var(--primary-spacing);
    padding: var(--primary-spacing);
}

.weekly-progress, .predictive-analysis, .data-show {
    display: flex;
    gap: var(--primary-spacing);
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.weather-forecast{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding-top: var(--primary-spacing);
    padding-bottom: var(--primary-spacing);
    gap: var(--primary-spacing);
}

.card, .chart, .weather2, .data {
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card {
    background-color: var(--sidebar-bg-color) !important;
    color: var(--sidebar-text-color);
    padding: 1.2rem;
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    z-index: 0;
    flex-basis: calc(25% - var(--primary-spacing)*2.85);
}
.card-content{
    backdrop-filter: blur(5px);
    padding: 0.5rem var(--primary-spacing);
    border-radius: var(--border-radius);
    width: max-content;
}

.card .title {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: bold;
}
.card .percentage{
    font-size: 1.25em;
}
.card .add{
    font-size: 8em;
}
.card:nth-child(even) {
    background-color: var(--content-active-color) !important; /* Even cards have the same color */
}

.card.chilly {
    background-image: url('1.png'); /* Chilly card background */
}

.card.nut {
    background-image: url('2.png'); /* Nut card background */
}

.card.mukunuwenna {
    background-image: url('3.png'); /* Mukunuwenna card background */
}

.card.plus {
    background-image: url('4.png'); /* Plus card background */
}

/* Chart styles */
.chart {
    height: 400px;
    min-width: 300px;
}

.chart1 {
    flex: 3; /* Take up 3/5 of the available space */
}

.chart2 {
    flex: 2; /* Take up 2/5 of the available space */
}

/* Data styles */
.data{
    flex: 1;
    height: 100px;
}
/* Weather styles */
.weather2 {
    flex: 1; 
    height: 120px;
    width: inherit;
    margin-right: var(--primary-spacing);
}


/* Mobile Responsiveness */
@media screen and (max-width: 1024px) {
    .body{
        overflow: scroll !important;
    }
    .sidebar {
        position: fixed;
        left: -120%; /* Off-screen to the left */
        height: calc(100vh - (var(--primary-spacing)*2));
        transition: left 0.5s ease-in-out;
        justify-content: space-around;
        width: 100%;
    }

    .sidebar.active {
        left: 0; /* Bring sidebar on-screen */
    }

    .nav-item{
        width: 90%;
    }

    .hamburger-menu {
        display: block;
        position: relative;

        z-index: 1001;
    }

    #sidebarToggle {
        display: block;
        font-size: 2.5rem;
        background: none;
        border: none;
        color: var(--sidebar-text-color);
        cursor: pointer;
        top: 0;
        left: 0;
        z-index: 1002;
    }

    .main-container {
        margin-left: 0; /* Remove margin when sidebar is toggled */
    }

    .header {
        padding-left: var(--primary-spacing);
        padding-right: var(--primary-spacing);
    }
    .profile-name {
        display: none; /* Hide profile name on mobile */
    }

    /* .card, .weather2 {   
        margin-bottom: var(--primary-spacing);
    } */
    .company-name select {
        display: none; /* Hide company name dropdown on mobile */
    }
    .company-name2 {
        display: block;
    }
    .company-name2 select {
        border: none;
        background-color: var(--content-active-color); 
        border-radius: 50%;
        font-size: var(--font-size-regular);
        color: var(--dark-text-color);
        margin-right: calc(var(--primary-spacing) / 2);
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 30px;
        height: 30px;
        text-align: center;
    }
    .search-bar i {
        display: none; /* Hide search icon on mobile */
    }
    /* Content Area Styles */
    .content {
    flex-direction: column;
    }
    .grid{
        flex: 0;
    }
    .weather-forecast{
        display: none;
    }
    .navigation .nav-item a {
        padding:  calc(var(--primary-spacing) /2 );
    }

    #container{
        max-width: 500px;
        width: 60%;
        margin-bottom: 2rem; 
    }
    .card{
        flex-basis: calc(50% - var(--primary-spacing)*2.5);
    }
}
@media screen and (max-width: 568px) {
    .card{
       flex-basis: 100%;
    }
    .plus{
        height: 20px;
        background-image: none  !important;
    }
    .card.plus > .card-content{
        backdrop-filter: none;
    }
}

