.day1 {
  background-color: var(--content-bg-color);
  font-size: var( --font-size-regular);
  height: max-content;
  padding-bottom: var(--primary-spacing);
}
.weather__sun {
  position: absolute;
  top: 40px;
  left: 40px;
  background-color: #fce475;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
@keyframes sunGlow {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.weather__sun::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: -1;
  background-color: #ffeeac;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  animation: sunGlow 10s alternate infinite;
}
.weather__sun::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  height: 45px;
  width: 45px;
  border-left: 4px solid #ffeeac;
  border-radius: 50% 0 0 50%;
  transform: rotate(45deg);

}
.weather__cloud {
  background-color: #fff;
  width: 40px;
  height: 20px;
  position: absolute;
  top: 50px;
  left: 220px;
  transition: all 0s ease-in-out;
  animation: cloudDrift 60s linear infinite;
}
@keyframes cloudDrift {
  0% {
    left: -65px; /* Initial position */
  }
  100% {
    left: 500px; /* Final position */
  }
}

.weather__cloud::before {
  content: "";
  background-color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: -10px;
}
.weather__cloud::after {
  content: "";
  background-color: #fff;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  position: absolute;
  left: 12px;
  top: -25px;
}
.weather__cloud--big {
  display: none;
  transform: scale(-1.5, 1.5);
  left: 50px;
  top: 70px !important;
  transition: all 0s ease-in-out;
  animation: cloudDrift2 60s linear infinite;
}
@keyframes cloudDrift2 {
  0% {
    left: -280px; /* Initial position */
  }
  100% {
    left: 300px; /* Final position */
  }
}
.weather__rain {
  display: none;
  width: 2px;
  height: 15px; /* Reduce the height to make raindrops shorter */
  background-color: #98bfe4;
  position: absolute;
  left: 10px;
  top: -10px; /* Start raindrops from above the container */
  border-radius: var(--border-radius);
  animation: fall 1s linear infinite; /* Apply the "fall" animation */
}

.weather__lightning-flash {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
  animation: flash 0.5s linear;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.9;
  }
  40% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.2;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.1;
  }
  90% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}


.weather__snowflake {
  width: 10px;
  height: 10px;
  background-color: #fff;
  opacity: 0.8;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 6px #fff;
  transition: all 1s ease-in-ou
}

/* You can add more modifiers for different sizes or movements of snowflakes */
.weather__snowflake--small {
  width: 5px;
  height: 5px;
}

.weather__snowflake--large {
  width: 15px;
  height: 15px;
}

/* Add keyframes for falling snow effect */
@keyframes fall {
  0% { top: -10px; }
  100% { top: 100%; }
}

.weather__snowflake {
  animation: fall 10s linear infinite;
}
.weather-card {
  background-color: var(--background-color);
  text-align: center; 
  margin: auto;
  height: max-content;
  width: inherit;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}
.card__image {
  position: relative;
  z-index: 0;
  background-color: #fef5d3;
  height: 180px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.card__image--cloudy {
  background-color: #eff3f7;
}
.card__image--cloudy .weather__sun {
  display: none;
}
.card__image--cloudy .weather__cloud--big {
  display: block;
}
.card__image--rain {
  background-color: #c8cfd6;
}
.card__image--rain .weather__sun {
  display: none;
}
.card__image--rain .weather__cloud {
  background-color: #848688;
}
.card__image--rain .weather__cloud:before, .card__image--rain .weather__cloud:after {
  background-color: #848688;
}
.card__image--rain .weather__cloud--big {
  display: block;
}
.card__image--rain .weather__rain {
  display: block;
}
.card__image--snow {
  background-color: #d7d7d7;
}
.card__image--snow .weather__sun {
  display: none;
}
.card__image--snow .weather__cloud {
  display: none;
}
.card__image--snow .weather__cloud--big {
  display: none;
}
.card__image--drizzle {
  background-color: #c8cfd6;
}
.card__image--drizzle .weather__sun {
  display: none;
}
.card__image--drizzle .weather__cloud {
  background-color: #848688;
}
.card__image--drizzle .weather__cloud:before, .card__image--drizzle .weather__cloud:after {
  background-color: #848688;
}
.card__image--drizzle .weather__cloud--big {
  display: block;
}
.card__image--drizzle .weather__rain {
  display: block;
  
}

.card__image .landmark {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 5;
}
.card__image .landmark__tower {
  position: absolute;
  top: 50px;
}
.card__image .landmark__tower--left {
  left: 120px;
}
.card__image .landmark__tower--right {
  left: 170px;
}
.card__image .landmark__tower--middle {
  left: 130px;
  top: 20px;
}
.card__image .landmark .base-3 {
  width: 8px;
  height: 90px;
  background-color: #efba85;
  border: 5px solid #e27830;
  position: relative;
}
.card__image .landmark .base-3::after {
  content: "";
  background-color: #e79656;
  width: 4px;
  height: 90px;
  position: absolute;
}
.card__image .landmark .base-2 {
  width: 4px;
  height: 30px;
  position: absolute;
  top: -2px;
  left: 2px;
  background-color: #efba85;
  border-top: 5px solid #e27830;
  border-left: 5px solid #e27830;
  border-right: 5px solid #e27830;
  position: relative;
}
.card__image .landmark .base-2::after {
  content: "";
  background-color: #e79656;
  width: 2px;
  height: 30px;
  position: absolute;
}
.card__image .landmark .base-1 {
  width: 2px;
  height: 30px;
  position: absolute;
  top: -4px;
  left: 3px;
  background-color: #efba85;
  border-top: 5px solid #e27830;
  border-left: 5px solid #e27830;
  border-right: 5px solid #e27830;
  position: relative;
}
.card__image .landmark .base-1::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -3px;
  background-color: #e27830;
  width: 8px;
  height: 5px;
}
.card__image .landmark .base-1::after {
  content: "";
  position: absolute;
  top: -18px;
  left: 0px;
  background-color: #e27830;
  width: 2px;
  height: 4px;
}
.card__image .landmark .bar {
  background-color: #efba85;
  width: 32px;
  height: 13px;
  position: absolute;
  left: 8px;
}
.card__image .landmark .bar::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  background-color: #e27830;
  height: 5px;
  width: 30px;
}
.card__image .landmark .bar::after {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  background-color: #e27830;
  height: 5px;
  width: 30px;
}
.card__image .landmark .bar--1 {
  top: 31px;
  left: 5px;
  width: 40px;
}
.card__image .landmark .bar--1:before, .card__image .landmark .bar--1:after {
  width: 36px;
}
.card__image .landmark .bar--2 {
  top: 68px;
  left: 5px;
  width: 38px;
}
.card__image .landmark .bar--2:before, .card__image .landmark .bar--2:after {
  width: 35px;
}
.card__image .landmark .bar--3 {
  top: 105px;
}
.card__image .landmark .bar--4 {
  top: 150px;
}
.card__image .landmark .curve {
  border: solid 3px #e27830;
  border-color: transparent;
  border-top-color: #e27830;
  position: absolute;
}
.card__image .landmark .curve--left, .card__image .landmark .curve--right {
  width: 300px;
  position: absolute;
}
.card__image .landmark .curve--left {
  transform: rotate(140deg);
  top: 56px;
}
.card__image .landmark .curve--left-1 {
  height: 120px;
  border-radius: 60%/120px 120px 0 0;
  top: 38px;
  left: -139px;
}
.card__image .landmark .curve--left-2 {
  height: 120px;
  left: -83px;
  border-radius: 70%/120px 120px 0 0;
  transform: rotate(130deg);
}
.card__image .landmark .curve--right {
  transform: rotate(-140deg);
}
.card__image .landmark .curve--right-1 {
  height: 120px;
  border-radius: 60%/120px 120px 0 0;
  top: 38px;
  left: 141px;
}
.card__image .landmark .curve--right-2 {
  height: 120px;
  border-radius: 60%/120px 120px 0 0;
  top: 109px;
  left: 150px;
  transform: rotate(-155deg);
}
.card__image .landmark .curve--sun {
  border: solid 3px black;
  background-color: black;
  width: 48px;
  height: 48px;
  border-radius: 50%/48px 48px 0 0;
  border-top-color: black;
}
.card__content__city {
  font-size: var(--font-size-regular);
  margin: var(--primary-spacing) 0  !important;
  font-weight: 700;
  color: var(--sidebar-text-color);
  letter-spacing: 6px;
  text-transform: uppercase;
}
.card__content__details {
  font-size: 10px;
  color: var(--sidebar-text-color);
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 3.5em;
  padding: var(--primary-spacing);
}
.card__temp-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}
.card__temp {
  font-size: 1.5em;
  margin: 0 25px;
  position: relative;
  color: var(--sidebar-text-color);
}
.card__temp::after {
  content: "°";
  position: absolute;
  top: -2px;
  font-size: 0.7em;
}
.card__temp--current {
  font-size: 3em;
  margin: 0 10px;
  position: relative;
}
.card__temp--current::after {
  content: "°";
  position: absolute;
  top: -2px;
  font-size: 0.7em;
}

/* Min weather card  - next day  */
.weather-card-min {
  background: var(--background-color);
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius);
  padding: calc(var(--primary-spacing) / 5) calc(var(--primary-spacing));
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}
.weather-card-min__info__date1 {
  font-size: var(--font-size-regular);
  color: var(--sidebar-text-color);
}
.weather-card-min__info__condition {
  font-weight: 700;
  font-size: calc(var(--font-size-regular) * 1.5);
  color: var(--sidebar-text-color);
}
.weather-card-min__info__date2 {
  font-size: var(--font-size-regular);
  color: var(--sidebar-text-color);
}
.weather-card-min__icon img {
  width: 60px;
}
.weather-card-min-other{
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.weather-card-min-other{
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: var(--primary-spacing);
}
.weather-card-min__weather__temp {
  font-size: calc(var(--font-size-regular) * 1.5);
  color: var(--sidebar-text-color);
}
.weather-card-min__weather__icon {
  animation: move 1s infinite alternate ease-in-out;
}
.weather-icon {
  filter: hue-rotate(90deg); /* Adjust the degree value to shift the color */
}

@keyframes move {
  to {
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 1279px) {
  .weather-card {
    margin-right: var(--primary-spacing);
  }
  .card__image {
    height: 275px;
    position: relative;
  }
  .card__image .landmark {
    top: 85px;
    left: 50px;
  }
  .day1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 0 0  0 var(--primary-spacing);
  }
  .weather-card-min {
    width: calc(100vw - 500px);
    height: 120%;
    left: 0;
    position: relative;
    margin-right: var(--primary-spacing);
    padding: calc(var(--primary-spacing) / 2.5) calc(var(--primary-spacing) / 2);
  }

}
@media screen and (max-width: 767px) {
  .weather__div{
    margin: 0;
  }
  .weather-card-min {
    width: calc(100% - var(--primary-spacing));
    height: 120%;
    left: 0;
    position: relative;
    /* padding-right: 0; */
  }
  .day1{
    width: 100%;
    position: relative;
    padding: 0;
  }
  .weather-card{
    margin: 0 var(--primary-spacing);
    width: 100%;
    height: max-content;
  }
  .card__image .landmark {
    top: 80px;
    left: 30px;
  }
}