.day1 {
  background-color: var(--content-bg-color);
  font-size: var( --font-size-regular);
  height: max-content;
}

.weather__sun {
  position: absolute;
  top: 40px;
  left: 40px;
  background-color: #fce475;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.weather__sun::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: -1;
  background-color: #fef2c0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.weather__sun::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  height: 45px;
  width: 45px;
  border-left: 4px solid #fef2bb;
  border-radius: 50% 0 0 50%;
  transform: rotate(45deg);
}
.weather__cloud {
  background-color: #fff;
  width: 40px;
  height: 20px;
  position: absolute;
  top: 50px;
  left: 220px;
}
.weather__cloud::before {
  content: "";
  background-color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: -10px;
}
.weather__cloud::after {
  content: "";
  background-color: #fff;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  position: absolute;
  left: 12px;
  top: -25px;
}
.weather__cloud--big {
  display: none;
  transform: scale(-1.5, 1.5);
  left: 50px;
  top: 70px !important;
}
.weather__rain {
  display: none;
  width: 2px;
  height: 30px;
  background-color: #eff3f7;
  transform: rotate(25deg);
  position: absolute;
  left: 10px;
  top: 120px;
  border-radius: 1px;
}
.weather__rain--short {
  height: 20px;
}
.weather__rain--long {
  height: 50px;
}
.weather__rain--1 {
  left: 100px;
  top: 110px;
}
.weather__rain--2 {
  left: 150px;
}
.weather__rain--3 {
  left: 180px;
  top: 100px;
  z-index: 6;
}
.weather__rain--4 {
  left: 220px;
  top: 110px;
}
.weather__rain--5 {
  left: 250px;
  top: 90px;
}
.weather__rain--6 {
  left: 280px;
}
.weather__rain--7 {
  left: 60px;
  top: 90px;
}
.weather__rain--8 {
  left: 40px;
  top: 170px;
}
.weather__rain--9 {
  left: 90px;
  top: 150px;
}
.weather__rain--10 {
  left: 140px;
  top: 180px;
  z-index: 6;
}
.weather__rain--11 {
  left: 170px;
  top: 200px;
  z-index: 6;
}
.weather__rain--12 {
  left: 230px;
  top: 170px;
}
.weather__rain--13 {
  left: 280px;
  top: 160px;
}
.weather__rain--14 {
  left: 300px;
  top: 200px;
}
.weather__rain--15 {
  left: 10px;
  top: 210px;
}
.weather__rain--16 {
  left: 50px;
  top: 230px;
}
.weather__rain--17 {
  left: 90px;
  top: 200px;
}
.weather__rain--18 {
  left: 130px;
  top: 230px;
  z-index: 6;
}
.weather__rain--19 {
  left: 190px;
  top: 240px;
  z-index: 6;
}
.weather__rain--20 {
  left: 240px;
  top: 210px;
}
.weather__rain--21 {
  left: 270px;
  top: 230px;
}
.weather__rain--22 {
  left: 300px;
  top: 250px;
}
.weather__rain--23 {
  left: 15px;
  top: 260px;
}
.weather__rain--24 {
  left: 60px;
  top: 270px;
}
.weather__rain--25 {
  left: 100px;
  top: 250px;
}
.weather__rain--26 {
  left: 150px;
  top: 260px;
}
.weather__rain--27 {
  left: 200px;
  top: 280px;
}

.weather-card {
  background-color: var(--background-color);
  text-align: center; 
  margin: auto;
  height: max-content;
  width: inherit;
  margin-right: var(--primary-spacing);
  border-radius: 15px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  padding-bottom: var(--primary-spacing);
}
.card__image {
  position: relative;
  z-index: 0;
  background-color: #fef5d3;
  height: 200px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.card__image--cloudy {
  background-color: #eff3f7;
}
.card__image--cloudy .weather__sun {
  display: none;
}
.card__image--cloudy .weather__cloud--big {
  display: block;
}
.card__image--rain {
  background-color: #c8cfd6;
}
.card__image--rain .weather__sun {
  display: none;
}
.card__image--rain .weather__cloud {
  background-color: #eff3f7;
}
.card__image--rain .weather__cloud:before, .card__image--rain .weather__cloud:after {
  background-color: #eff3f7;
}
.card__image--rain .weather__cloud--big {
  display: block;
}
.card__image--rain .weather__rain {
  display: block;
}
.card__image--drizzle {
  background-color: #c8cfd6;
}
.card__image--drizzle .weather__sun {
  display: none;
}
.card__image--drizzle .weather__cloud {
  background-color: #eff3f7;
}
.card__image--drizzle .weather__cloud:before, .card__image--drizzle .weather__cloud:after {
  background-color: #eff3f7;
}
.card__image--drizzle .weather__cloud--big {
  display: block;
}
.card__image--drizzle .weather__rain {
  display: block;
}
.card__image--drizzle .weather__rain--1, .card__image--drizzle .weather__rain--3, .card__image--drizzle .weather__rain--5, .card__image--drizzle .weather__rain--7, .card__image--drizzle .weather__rain--9, .card__image--drizzle .weather__rain--11, .card__image--drizzle .weather__rain--12, .card__image--drizzle .weather__rain--13, .card__image--drizzle .weather__rain--14, .card__image--drizzle .weather__rain--16, .card__image--drizzle .weather__rain--17, .card__image--drizzle .weather__rain--18, .card__image--drizzle .weather__rain--20, .card__image--drizzle .weather__rain--22, .card__image--drizzle .weather__rain--23, .card__image--drizzle .weather__rain--25, .card__image--drizzle .weather__rain--27 {
  display: none;
}
.card__image .landmark {
  position: absolute;
  top: 40px;
  z-index: 5;
}
.card__image .landmark__tower {
  position: absolute;
  top: 50px;
}
.card__image .landmark__tower--left {
  left: 120px;
}
.card__image .landmark__tower--right {
  left: 170px;
}
.card__image .landmark__tower--middle {
  left: 130px;
  top: 20px;
}
.card__image .landmark .base-3 {
  width: 8px;
  height: 90px;
  background-color: #efba85;
  border: 5px solid #e27830;
  position: relative;
}
.card__image .landmark .base-3::after {
  content: "";
  background-color: #e79656;
  width: 4px;
  height: 90px;
  position: absolute;
}
.card__image .landmark .base-2 {
  width: 4px;
  height: 30px;
  position: absolute;
  top: -2px;
  left: 2px;
  background-color: #efba85;
  border-top: 5px solid #e27830;
  border-left: 5px solid #e27830;
  border-right: 5px solid #e27830;
  position: relative;
}
.card__image .landmark .base-2::after {
  content: "";
  background-color: #e79656;
  width: 2px;
  height: 30px;
  position: absolute;
}
.card__image .landmark .base-1 {
  width: 2px;
  height: 30px;
  position: absolute;
  top: -4px;
  left: 3px;
  background-color: #efba85;
  border-top: 5px solid #e27830;
  border-left: 5px solid #e27830;
  border-right: 5px solid #e27830;
  position: relative;
}
.card__image .landmark .base-1::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -3px;
  background-color: #e27830;
  width: 8px;
  height: 5px;
}
.card__image .landmark .base-1::after {
  content: "";
  position: absolute;
  top: -18px;
  left: 0px;
  background-color: #e27830;
  width: 2px;
  height: 4px;
}
.card__image .landmark .bar {
  background-color: #efba85;
  width: 32px;
  height: 13px;
  position: absolute;
  left: 8px;
}
.card__image .landmark .bar::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  background-color: #e27830;
  height: 5px;
  width: 30px;
}
.card__image .landmark .bar::after {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  background-color: #e27830;
  height: 5px;
  width: 30px;
}
.card__image .landmark .bar--1 {
  top: 31px;
  left: 5px;
  width: 40px;
}
.card__image .landmark .bar--1:before, .card__image .landmark .bar--1:after {
  width: 36px;
}
.card__image .landmark .bar--2 {
  top: 68px;
  left: 5px;
  width: 38px;
}
.card__image .landmark .bar--2:before, .card__image .landmark .bar--2:after {
  width: 35px;
}
.card__image .landmark .bar--3 {
  top: 105px;
}
.card__image .landmark .bar--4 {
  top: 150px;
}
.card__image .landmark .curve {
  border: solid 3px #e27830;
  border-color: transparent;
  border-top-color: #e27830;
  position: absolute;
}
.card__image .landmark .curve--left, .card__image .landmark .curve--right {
  width: 300px;
  position: absolute;
}
.card__image .landmark .curve--left {
  transform: rotate(140deg);
  top: 56px;
}
.card__image .landmark .curve--left-1 {
  height: 120px;
  border-radius: 60%/120px 120px 0 0;
  top: 38px;
  left: -139px;
}
.card__image .landmark .curve--left-2 {
  height: 120px;
  left: -83px;
  border-radius: 70%/120px 120px 0 0;
  transform: rotate(130deg);
}
.card__image .landmark .curve--right {
  transform: rotate(-140deg);
}
.card__image .landmark .curve--right-1 {
  height: 120px;
  border-radius: 60%/120px 120px 0 0;
  top: 38px;
  left: 141px;
}
.card__image .landmark .curve--right-2 {
  height: 120px;
  border-radius: 60%/120px 120px 0 0;
  top: 109px;
  left: 150px;
  transform: rotate(-155deg);
}
.card__image .landmark .curve--sun {
  border: solid 3px black;
  background-color: black;
  width: 48px;
  height: 48px;
  border-radius: 50%/48px 48px 0 0;
  border-top-color: black;
}
.card__content__city {
  font-size: 15px;
  font-weight: 700;
  color: var(--sidebar-text-color);
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-bottom: 0.875em;
}
.card__content__details {
  font-size: 10px;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 3.5em;
}
.card__temp-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}
.card__temp {
  font-size: 1.5em;
  margin: 0 25px;
  position: relative;
  color: var(--sidebar-text-color);
}
.card__temp::after {
  content: "°";
  position: absolute;
  top: -2px;
  font-size: 0.7em;
}
.card__temp--current {
  font-size: 3em;
  margin: 0 10px;
  position: relative;
}
.card__temp--current::after {
  content: "°";
  position: absolute;
  top: -2px;
  font-size: 0.7em;
}