<Files "../assets/php/login.php">
    Allow from all
    <LimitExcept POST>
        Deny from all
    </LimitExcept>
</Files>
<Files "../assets/php/getdata.php">
    Allow from all
    <LimitExcept POST>
        Deny from all
    </LimitExcept>
</Files>